/* =============================================== *\
   Layout Manifest
\* =============================================== */

.page-wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.page-wrapper > main {
   flex: 1;
}