/* =============================================== *\ 
   Typography Styles
\* =============================================== */

:root {
    /* serif fonts */
    --font-times: "Times New Roman", Times, serif;
    --font-georgia: Georgia, serif;
    --font-goudy: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
    --font-palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    --font-book: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    --font-garamond: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    --font-rockwell: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    --font-calisto: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
    /* sans-serif fonts */
    --font-arial: Arial, Helvetica, sans-serif;
    --font-lucida: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    --font-tahoma: Tahoma, Geneva, sans-serif;
    --font-trebuchet: "Trebuchet MS", Helvetica, sans-serif;
    --font-verdana: Verdana, Geneva, sans-serif;
    --font-geneva: Geneva,Tahoma,Verdana,sans-serif; 
    --font-helvetica: "Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-franklin-gothic: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
    --font-arial-rounded-bold: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    --font-futura: Futura,Trebuchet MS,Arial,sans-serif; 
    --font-arial-black: "Arial Black", Gadget, sans-serif;
    --font-impact: Impact, Charcoal, sans-serif;
    --font-comic: "Comic Sans MS", cursive, sans-serif;
    --font-century: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    --font-calibri: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --font-candara: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    --font-segoe-ui: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    --font-optima: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    /* monospace fonts */
    --font-courier: "Courier New", Courier, monospace;
    --font-lucida-console: "Lucida Console", Monaco, monospace;
    --font-consolas: Consolas,monaco,monospace; 
    --font-monaco: monaco,Consolas,Lucida Console,monospace; 
    /* other fonts */
    --font-brush: Brush Script MT,cursive; 
    --font-copperplate: Copperplate,Copperplate Gothic Light,fantasy; 
    --font-papyrus: Papyrus,fantasy; 
    /* system */
    --font-apple: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* font helpers */
.font-times { font-family: var(--font-times);}
.font-georgia { font-family: var(--font-georgia);}
.font-goudy { font-family: var(--font-goudy);}
.font-palatino { font-family: var(--font-palatino);}
.font-book { font-family: var(--font-book);}
.font-garamond { font-family: var(--font-garamond);}
.font-rockwell { font-family: var(--font-rockwell);}
.font-calisto { font-family: var(--font-calisto);}
/* sans-serif fonts */
.font-arial { font-family: var(--font-arial);}
.font-lucida { font-family: var(--font-lucida);}
.font-tahoma { font-family: var(--font-tahoma);}
.font-trebuchet { font-family: var(--font-trebuchet);}
.font-verdana { font-family: var(--font-verdana);}
.font-geneva { font-family: var(--font-geneva);}
.font-helvetica { font-family: var(--font-helvetica);}
.font-franklin-gothic {font-family: var(--font-franklin-gothic);}
.font-arial-rounded-bold { font-family: var(--font-arial-rounded-bold);}
.font-futura { font-family: var(--font-futura);}
.font-arial-black { font-family: var(--font-arial-black);}
.font-impact { font-family: var(--font-impact);}
.font-comic { font-family: var(--font-comic);}
.font-century { font-family: var(--font-century);}
.font-calibri { font-family: var(--font-calibri);}
.font-candara { font-family: var(--font-candara);}
.font-segoe-ui { font-family: var(--font-segoe-ui);}
.font-optima { font-family: var(--font-optima);}
/* monospace fonts */
.font-courier { font-family: var(--font-courier);}
.font-lucida-console { font-family: var(--font-lucida-console);}
.font-consolas { font-family: var(--font-consolas);}
.font-monaco { font-family: var(--font-monaco);}
/* other fonts */
.font-brush { font-family: var(--font-brush);}
.font-copperplate { font-family: var(--font-copperplate);}
.font-papyrus { font-family: var(--font-papyrus);}
/* system */
.font-apple { font-family: var(--font-apple); }

.font-example {
    font-size: 35px;
    margin: 10px 0 30px;
}