<nav class="flex w-screen bg-black text-white px-4 h-16 sticky top-0">
    <div class="w-screen flex items-center max-w-screen-lg mx-auto justify-between">
        <div class="nav-logo">
            <a href="/">
                {{ .Site.Title }}
            </a>
        </div>
        <ul class="flex">
            <li><a href="" class="px-2">Create</a></li>
            <li><a href="" class="px-2">Explore</a></li>
            <li><a href="" class="px-2">Shop</a></li>
            <li><a href="" class="px-2">Sign In</a></li>
        </ul>
    </div>
</nav>